This is a patch report for system: {{ inventory_hostname }}.

{% if aap_patch_wf_patch_step %}

#TODO#
Enter patch text

{% endif %}

{% if aap_patch_wf_reboot_required %}

#TODO#  Enter reboot text

{{ aap_patch_wf_reboot_required_stdout }}

{% endif %}

Add system information #TODO
- system name
- organization
- rhel version
- kernel version
