This is a patch report for system: {{ inventory_hostname }}.

{% if aap_patch_wf_patch_step %}

#TODO#
Enter patch text

{% endif %}

{% if aap_patch_wf_reboot_step %}

#TODO#
Enter reboot text

{% endif %}

Add system information #TODO
- system name
- organization
- rhel version
- kernel version
